﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Management II</h1>
    <p class="lead">Hogar baal</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>