﻿@model ProductManagementII.Models.Product

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h2>Id: @Model.Id</h2>
<ul>
    <li>Product Type: @Model.ProductType.Name</li>
</ul>