﻿@model IEnumerable<ProductManagementII.Models.Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<br>
<h1>Product</h1>
<br>
<br>
@if (!Model.Any())
{
    <p>Dokan khali vi pore aishen.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Product Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</td>
                    <td>@product.ProductType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}