﻿@model ProductManagementII.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h2>Id: @Model.Id</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>

    @if(Model.BirthDate.HasValue)
    {
        <li>@Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>